[Unit]
Description=discogs
Requires=network.target

[Service]
Type=simple
User=discogs
Group=discogs
WorkingDirectory=/home/discogs/discogs
ExecStart=/usr/bin/node lib/main/typescript/index.js
Environment="NODE_ENV=production"
TimeoutSec=30
Restart=always

[Install]
WantedBy=multi-user.target
